body[data-theme='light'] {
    --primary-color: #ffffff;
    --secondary-color: #007bff;
    --accent-color: #ffc107;
    --light-color: #222222;
    --dark-color: #111111;
    --section-color: #f8f8f8;
    --button-text-color: #ffffff;
}

body[data-theme='dark'] {
    --primary-color: #222222;
    --secondary-color: #007bff;
    --accent-color: #ffc107;
    --light-color: #ffffff;
    --dark-color: #111111;
    --section-color: #333333;
    --button-text-color: #ffffff;
}

/* Global Styles */
body {
    font-family: Gilmer, sans-serif;
    color: var(--light-color);
    background-color: var(--primary-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

header a {
    color: var(--button-text-color);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

header a:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

/* Home Section Styles */
#home {
    background-image: url('assets/banner.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

#home h1 {
    font-size: 48px;
    color: white;
    margin-bottom: 20px;
}

#cta-button {
    background-color: var(--secondary-color);
    border: none;
    color: var(--button-text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
}

/* Contests and Events Section Styles */
#contests-and-events {
    padding: 20px;
}

#contests-and-events h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid var(--secondary-color);
    color: var(--light-color);
}

th {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

/* About Us Section Styles */
#about-us {
    padding: 20px;
}

#about-us h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--secondary-color)
}

#about-us h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

#about-us img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

/* Contact Us Section Styles */
#contact {
    padding: 20px;
}

#contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

#contact form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#contact label {
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    color: var(--light-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border-color: var(--accent-color);
}

#contact button {
    background-color: var(--secondary-color);
    border: none;
    color: var(--button-text-color);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#contact ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#contact li a {
    color: var(--light-color);
    text-decoration: none;
    padding: 5px;
}

/* Social Media Icons Styling */
.social-link svg {
    color: var(--secondary-color);
    width: 20%;
    height: auto;
}

.social-media-list {
    text-align: center;
    background: var(--section-color);
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.social-media-list h3 {
    padding-bottom: 20px;
}

/* Footer Styles */
footer {
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

footer p {
    margin: 0;
    color: var(--light-color);
}

/* Dark Mode Toggle Switch Styles */
.theme-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
}

.checkbox {
    display: none;
}

.toggle-label {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s ease;
}

.toggle-button {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.checkbox:checked + .toggle-label {
    background-color: rgba(24, 24, 24, 0.25); /* Change to your desired color for dark mode background */
}

.checkbox:checked + .toggle-label + .toggle-button {
    transform: translateX(26px);
}

.bio {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--section-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bio h1 {
    color: var(--secondary-color);
    text-align: center;
}

.bio h2 {
    color: var(--secondary-color);
}

.bio p {
    line-height: 1.6;
    color: var(--light-color);
}

.bio ol {
    margin-left: 20px;
}

.bio ol li {
    margin-bottom: 10px;
}

.bio strong {
    font-weight: bold;
}

em {
    font-style: italic;
    color: #28a745;
}